<body>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Ano de Fundação</th>
                <th>Data de Criação</th>
                <th>Data de atualização</th>
                <th>Data de remoção</th>
                <th>Removido (boolean)</th>
                <th>AcademiaAparelhoId</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>Empresa Alpha</td>
                <td>2015</td>
                <td>2014-05-20</td>
                <td>null</td>
                <td>null</td>
                <td>false</td>
                <td>0</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Empresa Beta</td>
              <td>2020</td>
              <td>2019-05-20</td>
              <td>null</td>
              <td>null</td>
              <td>false</td>
              <td>1</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Empresa Gama</td>
              <td>2024</td>
              <td>2023-05-20</td>
              <td>null</td>
              <td>null</td>
              <td>false</td>
              <td>2</td>
            </tr>
        </tbody>
    </table>
</body>
